.categories {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.categories > li {
  padding: 0.25rem;
}

.categories a {
  text-transform: capitalize;
}

.categories a:first-of-type {
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 768px) {
}
