nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  /* Optional flex-wrap(?) */
  flex-wrap: wrap;
  gap: 0.5rem;
}

.list-style-none {
  list-style: none;
}

.anchor-no-decoration {
  text-decoration: none;
}

.nav-left {
  flex: 1;
}

.nav-left a {
  display: flex;
}

.nav-right {
  display: flex;
  align-items: center;
}

.cart-anchor {
  position: relative;
}

.cart-number {
  /* Touch up */
  position: absolute;
  right: 0;
  background-color: orange;
  border-radius: 100%;
  width: 16px;
  text-align: center;
}
