nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  /* Optional flex-wrap(?) */
  flex-wrap: wrap;
  gap: 0.5rem;
}

.listStyleNone {
  list-style: none;
}

.anchorNoDecoration {
  text-decoration: none;
}

.navLeft {
  /* composes: listStyleNone; */
  flex: 1;
}

.navLeft a {
  display: flex;
}

.navRight {
  /* composes: listStyleNone; */
  display: flex;
  align-items: center;
}
