/* This style sheet includes custom CSS variables
 *
 */

@font-face {
  font-family: DM Sans;
  src: url(../assets/fonts/DM_Sans/DMSans-VariableFont_opsz_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: Josefin Sans;
  src: url(../assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf)
    format("truetype");
}

:root {
  --background-color-primary: #ffffff;
}

#root {
  height: 100svh;
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  color: #000000;
}

button:hover {
  cursor: pointer;
}
