.input-btn-container,
.input {
  width: 100%;
}

.input-btn-container {
  position: relative;
  /* width: fit-content; */
  height: 100%;
  border: 1px solid #000000;
  border-radius: 0.5rem;
}

.input:hover {
  cursor: pointer;
}

.input-btn-container:has(input:focus) {
  outline: 2px solid #000000;
}

.input-btn {
  position: absolute;
  width: clamp(1.5rem, 5vw, 4rem);
  height: 100%;
  border: none;
  /* z-index: -1; */
}

.input-btn svg {
  margin: auto;
}

.input-btn-left {
  composes: input-btn;
  left: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 1px solid;
}

.input-btn-left:active {
  box-shadow: -2px 0px 2px 0px #000000;
}

.input-btn-right {
  composes: input-btn;
  right: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 1px solid;
}

.input-btn-right:active {
  box-shadow: 2px 0px 2px 0px #000000;
}

.input {
  border: none;
  background: transparent;
  text-align: center;
  -moz-appearance: textfield;
}

.input:focus {
  outline: none;
}

.input-error {
  color: rgb(255, 44, 44);
}
