.modal {
  position: relative;
  /* margin-top: 125vh; */
  margin: 0 auto;
  /* margin: auto; */
  /* padding: 1rem; */
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 0px 4px 0px #000000;
}

.modal::backdrop {
  background-color: rgba(54, 54, 54, 0.4);
}

.modal section {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

.close-btn {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  padding: 0.5rem;
}

.close-btn:hover {
  background-color: red;
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 768px) {
  .modal {
    /* max-width: 700px; */
    width: clamp(100px, 100vw, 700px);
    /* height: clamp(100px, 100vw, 600px); */
  }
}
