a.active.active-link {
  color: var(--active-page-color);
  font-weight: 900;
}

a.link {
  position: relative;
}

a.link:hover {
  color: #4a4847;
}

a.link:hover::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--accent-color-primary);
  position: absolute;
}
