.product {
  max-width: 300px;
}

.product-modal {
  padding: 1rem;
  border-radius: 2rem;
}

.product-modal picture {
  max-width: 500px;
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 768px) {
}
