.scroll-btns-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
}

.scroll-btns-container {
  width: inherit;
  height: inherit;
  position: relative;
}

.scroll-btns {
  --position-percentage: 2%;
  position: absolute;
  right: 0;
  color: var(--active-page-color);
  background: none;
  border: none;
  pointer-events: all;
}

.scroll-btns:hover svg {
  color: var(--accent-color-primary);
}

.scroll-btn-top {
  composes: scroll-btns;
  top: var(--position-percentage);
}

.scroll-btn-bottom {
  composes: scroll-btns;
  bottom: var(--position-percentage);
}

.show-scroll-btn svg {
  height: auto;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

.hide-scroll-btn svg {
  height: 0;
  opacity: 0;
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 1025px) {
  .scroll-btns-container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
